@{
    ViewBag.Title = "熊i猜";
}
<div class="sportsmagazine-main-content">
    <div class="sportsmagazine-main-section sportsmagazine-account-full">
        <div class="container">

            <a href="~/Account/Register">
                <img src="~/Content/images/fullweb.jpg" />
            </a>
        </div>
    </div>
</div>