@{

    Layout = null;
}
<style>
    body {
        font-family: Microsoft JhengHei;
    }
    </style>

<h1 style="text-align:center">兌獎規範</h1>

(1) 於本遊戲平台內商城兌換獎品將視同中獎行為，依所得稅法各類所得扣繳標準第十一條規定，凡獎金獎品價值超過NT$1,000元整，需申報中獎人個人所得，並繳交身分證影本報稅使用，中獎人如為我國境內居住之個人，且贈品價值超過新台幣20,000元以上，依法須自行給付10%中獎稅金；中獎人如為非我國境內居住之個人，則無論中獎金額多寡，均按中獎額之20%就源扣繳。中獎人須完稅後方得領獎；若中獎人未能依法繳納應繳稅額與提供相關資料，即視為未完成領獎程序而無法獲得相關獎品。<p>
(2) 於本遊戲平台內商城申請獎品兌換後，將依據兌獎人會員資料中的E - Mail寄發兌獎通知與活動領獎單。兌獎人須確實填寫活動領獎單，並將已填寫完整資料文件正本與附件寄回本公司。兌獎人須提供身分證正反面影本、活動領獎單之領獎文件資料，務必將資料備妥齊全；兌獎人若為未滿20歲之未成年人，須檢附戶口名簿影本、法定代理人身分證正反面影本，並提出法定代理人所簽署之領獎同意書，方可辦理獎項領取，如未收到兌獎人完整兌獎文件之資料，即視為未完成領獎程序而無法獲得相關獎品。<p>
(3) 本遊戲平台內商城兌獎說明如有任何未盡之事宜，悉依本公司之兌獎通知說明為準。本遊戲平台內商城所有獎品僅限兌換會員本人領取，所有獎品不得轉讓予任何第三人，亦不得要求轉換為現金、遊戲點數/幣值、紅利，或更換其他商品或權益，若不配合兌獎程序者視同無條件放棄一切資格及相關權益。<p>
(4) 本遊戲平台內商城之實體獎項寄送地區僅限台、澎、金、馬地區，不接受寄送地址為前述地區以外之領獎申請。<p>
(5) 兌獎人如所提供的電子信箱有誤，造成本公司傳送電子郵件資料被退件，或因兌獎人電子信箱之設定致本公司之電子郵件被歸為垃圾郵件而被刪除或未讀取者，或因觸犯遊戲規章遭受帳號凍結處份，或兌獎人因任何其他事由而未收受活動主辦單位之通知（包括但不限於兌獎人之信箱爆滿、網路障礙等），均由兌獎人自負責任，視同無條件放棄兌獎資格及一切相關權益。<p>







