
@{
    ViewBag.Title = "DepositPage";
}


<link rel="stylesheet" href="/Content/steps/normalize.css">
<link rel="stylesheet" href="/Content/steps/main.css?v="20180116">
<link rel="stylesheet" href="/Content/steps/jquery.steps.css">
<script language="javascript" src="/Scripts/modernizr-2.6.2.min.js"></script>
<script language="javascript" src="/Scripts/jquery.cookie-1.3.1.js"></script>
<script language="javascript" src="/Scripts/jquery.steps.min.js"></script>
<script language="javascript" src="/Scripts/jquery.validate.min.js"></script>



<div class="sportsmagazine-main-content">

    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section">
        <div class="container">
            <div class="content">               
                <div id="wizard">
                    <form id="example-advanced-form" action="#">

                        <h2>儲值方式</h2>
                        <fieldset>
                            <div class="gridm" style="width:100%;overflow-y:scroll;height:94.2%;">
                                <div id="optionlist"  class="option-column sub auto-close">
                                    <ul class="option-title" style="list-style:none !important">
                                        <li>
                                            <div class="left">選擇儲值方式</div>
                                        </li>
                                    </ul>
                                    <div id="optionlist" >
                                    <ul class="option-subtitle">
                                        <li class="subtitle" style="display: list-item;">
                                            <div class="left">線上付款</div>
                                            <div class="right" style="transform: rotate(0rad); transition: 0.3s linear;"><span class="triangle open"></span></div>
                                        </li>

                                        <li class="option" style="display: list-item;">ATM轉帳</li>

                                        <li class="option" style="display: list-item;">條碼立即存</li>

                                        <li class="option" style="display: list-item;">信用卡付款</li>
                                        <li class="subtitle" style="display: list-item;">
                                            <div class="left">電信小額付款</div>
                                            <div class="right" style="transform: rotate(0rad); transition: 0.3s linear;"><span class="triangle open"></span></div>
                                        </li>

                                        <li class="option" style="display: list-item;">中華電信</li>

                                        <li class="option" style="display: list-item;">亞太電信</li>

                                        <li class="option" style="display: list-item;">臺灣大哥大</li>
                                        <li class="option" style="display: list-item;">臺灣之星</li>


                                    </ul>
                                    
                                       


                                    
                                    </div>
                                </div>
                            </div>
                        </fieldset>


                        <h2>選擇金額</h2>
                        <fieldset>
                            <div  class="gridm" style="width:100%;">
                                <div id="optionlist" class="option-column sub auto-close">
                                    <ul class="option-title" style="list-style:none !important">
                                        <li>
                                            <div class="left">選擇付款金額</div>
                                        </li>
                                    </ul>
                                    <ul class="option-subtitle">
                                        <li class="subtitle" style="display: list-item;">
                                            <div class="left">線上購點</div>
                                            <div class="right" style="transform: rotate(0rad); transition: 0.3s linear;"><span class="triangle open"></span></div>
                                        </li>

                                        <li class="option" style="display: list-item;">150元台幣／250鮭魚</li>

                                        <li class="option" style="display: list-item;">350元台幣／500鮭魚</li>

                                        <li class="option" style="display: list-item;">500元台幣／750鮭魚</li>

                                        <li class="option"  style="display: list-item;">1,000元台幣／1400鮭魚</li>


                                    </ul>
                                    @* <ul class="option-subtitle">
                        <li class="subtitle " style="display: list-item;">
                            <div class="left">點數卡儲值</div>
                            <div class="right"><span class="triangle"></span></div>
                        </li>

                        <li class="option"  style="display: list-item;">MyCard遊戲點數卡</li>


                    </ul>*@
                                </div>
                            </div>
                            </fieldset>
                               
                                <h2>確認購買內容</h2>
                        <fieldset>
                            <div class="gridm" style="width:100%">
                                <div class="option-column sub auto-close">
                                    <ul class="option-title" style="list-style:none !important">
                                        <li>
                                            <div class="left">確認購買內容</div>
                                        </li>
                                    </ul>
                                    <table>
                                        <tbody>

                                            <tr>

                                                <td>商品</td>
                                                <td><img style="width:22px" title="鮭魚幣" src="/Content/extra-images/fish_bone2.png"> 鮭魚幣 X 250</td>

                                            </tr>

                                            <tr>
                                                <td>價格</td>
                                                <td>NT$ 150</td>
                                            </tr>
                                            <tr>
                                                <td>付費方式</td>
                                                <td>信用卡付款</td>
                                            </tr>



                                        </tbody>



                                    </table>
                                </div>
                            </div>
                            <input id="acceptTerms-2" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms-2">
                                我同意
                                <a href="#">服務條款</a>
                                、
                                <a href="@Url.Action("PrivacyPolicy","Home")">個人資料隱私權保護政策</a>
                            </label>
                            </fieldset>
</form>
                        @*<h2>交易結果</h2>
            <section>

            </section>*@
</div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
  <script>
      $(document).ready(function () {


          var form = $("#example-advanced-form").show();

          form.steps({
              headerTag: "h2",
              bodyTag: "fieldset",
              transitionEffect: "slideLeft",
              stepsOrientation: "vertical",
              labels: {
                  cancel: "取消",
                  current: "目前步驟:",
                  pagination: "分頁",
                  finish: "確認付款",
                  next: "下一步",
                  previous: "上一步",
                  loading: "讀取中 ..."
              }, onFinishing: function (event, currentIndex) {
                  form.validate().settings.ignore = ":disabled";
                  return form.valid();

              },
              onFinished: function (event, currentIndex) {

                  alert("付款成功");
              }
          });


          jQuery.extend(jQuery.validator.messages, {
              required: "尚未勾選同意"


          });
      
          $(".option").click(function () {
              if ($(this).is("#optionselected")) {
                  $(this).removeAttr('id');
              }
              else {
                  $(this).attr('id', 'optionselected');
                  $(this).siblings("#optionselected").removeAttr('id');
              }
          });



       });
</script>
}
