
@{
    ViewBag.Title = "Repair";
    Layout = null;
}
<style>
    body {
        background: url(https://storage.googleapis.com/funbet-180608.appspot.com/OtherIMG/background.png?t=20171205);
       
    }

    .like-table {
        display: table-cell;
    }

   
    .like-table {
        width: 2000px;
        height: 150px;
        vertical-align: middle;
    }
       
        .like-table div {
            width: 100%;
            height: 50px;
            margin: 0 auto;    
            font-size: 12px;
            line-height: 50px;
            text-align: center;           
        }        


</style>




<div class="like-table">
    <div><img src="https://storage.googleapis.com/funbet-180608.appspot.com/OtherIMG/Maintain.jpg" /></div>
</div>