@{ 
    var ReturnUrl = "";
    if (ViewBag.ReturnUrl != null)
    {
        ReturnUrl = ViewBag.ReturnUrl;
    }
    else
    {
        ReturnUrl = Url.Action("Index", "Home");
    }
}
<div class="sportsmagazine-main-content">
    <div class="sportsmagazine-fancy-title-two">
        <h1>註冊成功並寄送Email驗證信至您的信箱</h1>
        <h3>溫馨提醒：Email驗證後才能下注喔!!</h3>
        <p class="lead">
            5秒後回到首頁<br>
            <a class="sportsmagazine-forword-btn" href="/">回首頁</a>
        </p>
    </div>
</div>

<!-- Google AdWords -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 833451514;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "lR23CJKGu3UQ-uu1jQM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/833451514/?label=lR23CJKGu3UQ-uu1jQM&amp;guid=ON&amp;script=0" />
    </div>
</noscript>
<!-- Google AdWords -->


    @section Scripts {


    <!-- Facebook Pixel Code -->
    <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return; n = f.fbq = function () {
                    n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
                n.queue = []; t = b.createElement(e); t.async = !0;
                t.src = v; s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '175557429659755');
            fbq('track', 'CompleteRegistration');
    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=175557429659755&ev=CompleteRegistration&noscript=1" />
    </noscript>
    <!-- Facebook Pixel Code -->

    <script type="text/javascript">
        setTimeout("location.href='@ReturnUrl'",5000);
    </script>

    }
