@{
    ViewBag.Title = "兌獎通知信";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        親愛的熊粉您好：

        我們已經收到您的兌獎申請，您本次申請的兌換資料如下：

        兌換獎項：
        獎項收件人：
        連絡電話：
        寄送地址：

        我們預計將於申請完成後次月進行獎品寄送，還請您耐心等候，如有任何問題，可至熊i猜粉絲團(連結)發訊詢問喔!
        (本兌獎通知為自動發送，請勿直接回信詢問，以避免延誤問題解決時間。)

    </p>
</div>
