
@{
    ViewBag.Title = "最新消息| 熊i猜";
    ViewBag.Description = "最新消息-熊i猜 - 電競免費競猜平台 !歡迎來到熊i猜，最新活動消息都在這，掌握電競新樂趣就要熊i猜";
}
<script type="application/ld+json">
    {
    "@@context": "http://schema.org",
    "@@type": "BreadcrumbList",
    "itemListElement": [{
    "@@type": "ListItem",
    "position": 1,
    "item": {
    "@@id": "http://funbet.com.tw/",
    "name": "首頁",
    "image": "http://funbet.com.tw/Content/images/logo-1.png"
    }
    },{
    "@@type": "ListItem",
    "position": 2,
    "item": {
    "@@id": "http://funbet.com.tw/News",
    "name": "最新消息"
    }
    }]
    }
</script>
<link href="/Content/css/news-style.css?v=20171114" rel="stylesheet">



<div class="sportsmagazine-main-content" >

    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section">
        
        <div class="container">
            <div class="row">
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a class="ticket-buy-btn-2" href="@Url.Action("News")">新增管理公告</a>
                }
                <div class="col-md-12">
                    <div class="sportsmagazine-fancy-title2" id="newsmargin">
                        <h2>最新資訊</h2>                     
                    </div>
                   @Html.Action("_NewsMain", "News")
                    </div>                                 
                    <div id="homenews">
                        @Html.Action("_NewsAll", "News")
                    </div>


                </div>
           </div>
      </div>
 </div>

<script>
    $(document).ready(function () {
        $("#newspage").css("color", "#e4b12a");
        $("#missionpage").click(function () {
            $("#missionpage").css("color", "#e4b12a");
            $("#newspage").css("color", "#ebdec2");
            $("#betpage").css("color", "#ebdec2");
        });

        $("#betpage").click(function () {
            $("#missionpage").css("color", "#ebdec2");
            $("#newspage").css("color", "#ebdec2");
            $("#betpage").css("color", "#e4b12a");

        });

    });



    </script>
