@charset "utf-8";
/* CSS Document */

body {
	height: 3000px;
		font-family: 微軟正黑體, 微软雅黑, "Lucida Grande", Verdana, sans-serif;
	letter-spacing: 0.1em;
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#fixmenu {
	position: fixed;
	left: 0px;
	width: 74px;
	height: 400px;
	background: url(img/img01.png) repeat-x left bottom;
	z-index: 10000;
	top: 150px;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	opacity: 0;
}
 @keyframes slidein {
 0% {
 opacity: 0;
 margin-top: 150px;
}
 50% {
 opacity: 0.5;
 margin-top: -100px;
}
 100% {
 opacity: 1;
 margin-top: 0px;
}
}
 @keyframes slidein2 {
 0% {
 opacity: 1;
}
 50% {
 opacity: 0.5;
}
 100% {
 opacity: 0;
}
}
/*======================按鈕=====================*/
#fixmenu ul {
	position: relative;
	top: 90px;
}
#skypemenu {
	z-index: 1000;
	position: relative;
	left: 2px;
	width: 65px;
	height: 64px;
}
#skypemenu a {
	background: url(img/img02.png) no-repeat left top;
	display: block;
	overflow: hidden;
	height: 0px;
	padding-top: 64px;
}
#qqmenu {
	z-index: 1000;
	position: relative;
	top: 5px;
	left: 2px;
	width: 68px;
	height: 77px;
}
#qqmenu a {
	background: url(img/img03.png) no-repeat left top;
	display: block;
	overflow: hidden;
	height: 0px;
	padding-top: 77px;
}
#linemenu {
	z-index: 1000;
	position: relative;
	top: 15px;
	left: 2px;
	width: 64px;
	height: 63px;
}
#linemenu a {
	background: url(img/img04.png) no-repeat left top;
	display: block;
	overflow: hidden;
	height: 0px;
	padding-top: 63px;
}
#maulmenu {
	z-index: 1000;
	position: relative;
	top: 28px;
	left: 4px;
	width: 63px;
	height: 64px;
}
#maulmenu a {
	background: url(img/img05.png) no-repeat left top;
	display: block;
	overflow: hidden;
	height: 0px;
	padding-top: 64px;
}
#fmb01 {
	position: absolute;
	width: auto;
	white-space: nowrap;
	background: #9B4F1D url(../img/menu/fixmenu/) no-repeat left top;
	opacity: 0;
	top: 10px;
	font-size: 130%;
	padding: 5px 10px;
	color: #FFFFFF;
	left: 70px;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}
#fmb02 {
	position: absolute;
	width: auto;
	white-space: nowrap;
	background: #9B4F1D url(../img/menu/fixmenu/) no-repeat left top;
	opacity: 0;
	top: 20px;
	font-size: 130%;
	padding: 5px 10px;
	color: #FFFFFF;
	left: 70px;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}
#fmb03 {
	position: absolute;
	width: auto;
	white-space: nowrap;
	background: #9B4F1D url(../img/menu/fixmenu/) no-repeat left top;
	opacity: 0;
	top: 13px;
	font-size: 130%;
	padding: 5px 10px;
	color: #FFFFFF;
	left: 70px;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}
#fmb04 {
	position: absolute;
	width: auto;
	white-space: nowrap;
	background: #9B4F1D url(../img/menu/fixmenu/) no-repeat left top;
	opacity: 0;
	top: 13px;
	font-size: 130%;
	padding: 5px 10px;
	color: #FFFFFF;
	left: 70px;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}
#fmb04:after, #fmb03:after, #fmb02:after, #fmb01:after {
	content: '';
	position: absolute;
	top: 30%;
	left: 0%;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-right: 8px solid #9B4F1D;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	z-index: 100000;
}
 @keyframes slidein3 {
 0% {
 margin-left: 100px;
 opacity: 0;
}
 70% {
 margin-left: -10px;
 opacity: 0.5;
}
 100% {
 margin-left: 0px;
 opacity: 0.9;
}
}
 @keyframes slidein4 {
 0% {
 opacity: 1;
}
 50% {
 opacity: 0.5;
}
 100% {
 opacity: 0;
}
}

